In [1]:
import pandas as pd
import requests
pd.set_option('display.max_columns', None)
import time
import numpy as np

In [29]:
test_url = 'https://stats.nba.com/stats/leagueLeaders?LeagueID=00&PerMode=Totals&Scope=S&Season=2012-13&SeasonType=Regular%20Season&StatCategory=PTS'

In [30]:
r = requests.get(url=test_url).json()

In [31]:
table_headers = r['resultSet']['headers']

In [32]:
pd.DataFrame(r['resultSet']['rowSet'], columns=table_headers)

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
0,201142,1,Kevin Durant,1610612760,OKC,81,3119,731,1433,0.510,139,334,0.416,679,750,0.905,46,594,640,374,116,105,280,143,2280,2462,1.34,0.41
1,977,2,Kobe Bryant,1610612747,LAL,78,3013,738,1595,0.463,132,407,0.324,525,626,0.839,66,367,433,469,106,25,287,173,2133,1921,1.63,0.37
2,2544,3,LeBron James,1610612748,MIA,76,2877,765,1354,0.565,103,254,0.406,403,535,0.753,97,513,610,551,129,67,226,110,2036,2446,2.44,0.57
3,201935,4,James Harden,1610612745,HOU,78,2985,585,1337,0.438,179,486,0.368,674,792,0.851,62,317,379,455,142,38,295,178,2023,1872,1.54,0.48
4,2546,5,Carmelo Anthony,1610612752,NYK,67,2482,669,1489,0.449,157,414,0.379,425,512,0.830,134,326,460,171,52,32,175,205,1920,1553,0.98,0.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,203130,463,Darius Johnson-Odom,1610612747,LAL,4,6,0,4,0.000,0,1,0.000,0,0,0.000,1,3,4,1,0,0,0,0,0,1,0.00,0.00
464,2545,463,Darko Milicic,1610612738,BOS,1,5,0,1,0.000,0,0,0.000,0,0,0.000,0,1,1,0,0,0,2,1,0,-2,0.00,0.00
465,202458,463,Justin Dentmon,1610612742,DAL,2,4,0,2,0.000,0,0,0.000,0,0,0.000,0,0,0,0,0,0,0,0,0,-2,0.00,0.00
466,2679,463,Matt Carroll,1610612766,CHA,1,6,0,0,0.000,0,0,0.000,0,0,0.000,0,0,0,1,0,0,0,1,0,1,0.00,0.00
467,200780,463,Solomon Jones,1610612752,NYK,2,26,0,1,0.000,0,0,0.000,0,0,0.000,1,2,3,0,0,1,3,3,0,0,0.00,0.00

In [33]:
temp_df1 = pd.DataFrame(r['resultSet']['rowSet'], columns=table_headers)
temp_df2 = pd.DataFrame({'Year':['2012-13' for i in range(len(temp_df1))],
                         'Season_type':['Regular%20Season' for i in range(len(temp_df1))]})

temp_df3 = pd.concat([temp_df1, temp_df2], axis=1)
temp_df3

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV,Year,Season_type
0,201142,1,Kevin Durant,1610612760,OKC,81,3119,731,1433,0.510,139,334,0.416,679,750,0.905,46,594,640,374,116,105,280,143,2280,2462,1.34,0.41,2012-13,Regular%20Season
1,977,2,Kobe Bryant,1610612747,LAL,78,3013,738,1595,0.463,132,407,0.324,525,626,0.839,66,367,433,469,106,25,287,173,2133,1921,1.63,0.37,2012-13,Regular%20Season
2,2544,3,LeBron James,1610612748,MIA,76,2877,765,1354,0.565,103,254,0.406,403,535,0.753,97,513,610,551,129,67,226,110,2036,2446,2.44,0.57,2012-13,Regular%20Season
3,201935,4,James Harden,1610612745,HOU,78,2985,585,1337,0.438,179,486,0.368,674,792,0.851,62,317,379,455,142,38,295,178,2023,1872,1.54,0.48,2012-13,Regular%20Season
4,2546,5,Carmelo Anthony,1610612752,NYK,67,2482,669,1489,0.449,157,414,0.379,425,512,0.830,134,326,460,171,52,32,175,205,1920,1553,0.98,0.30,2012-13,Regular%20Season
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,203130,463,Darius Johnson-Odom,1610612747,LAL,4,6,0,4,0.000,0,1,0.000,0,0,0.000,1,3,4,1,0,0,0,0,0,1,0.00,0.00,2012-13,Regular%20Season
464,2545,463,Darko Milicic,1610612738,BOS,1,5,0,1,0.000,0,0,0.000,0,0,0.000,0,1,1,0,0,0,2,1,0,-2,0.00,0.00,2012-13,Regular%20Season
465,202458,463,Justin Dentmon,1610612742,DAL,2,4,0,2,0.000,0,0,0.000,0,0,0.000,0,0,0,0,0,0,0,0,0,-2,0.00,0.00,2012-13,Regular%20Season
466,2679,463,Matt Carroll,1610612766,CHA,1,6,0,0,0.000,0,0,0.000,0,0,0.000,0,0,0,1,0,0,0,1,0,1,0.00,0.00,2012-13,Regular%20Season
467,200780,463,Solomon Jones,1610612752,NYK,2,26,0,1,0.000,0,0,0.000,0,0,0.000,1,2,3,0,0,1,3,3,0,0,0.00,0.00,2012-13,Regular%20Season

In [34]:
del temp_df1, temp_df2, temp_df3

In [35]:
df_cols = ['Years', 'Season_type'] + table_headers

In [36]:
pd.DataFrame(columns=df_cols)

Empty DataFrame
Columns: [Years, Season_type, PLAYER_ID, RANK, PLAYER, TEAM_ID, TEAM, GP, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PTS, EFF, AST_TOV, STL_TOV]
Index: []

In [38]:
headers = {
    'Accept': '*/*',
'Accept-Encoding': 'gzip, deflate, br',
'Accept-Language': 'en-US,en;q=0.9,ko;q=0.8',
'Connection': 'keep-alive',
'Host': 'stats.nba.com',
'Origin': 'https://www.nba.com/',
'Referer': 'https://www.nba.com/',
'Sec-Ch-Ua': '"Chromium";v="118", "Google Chrome";v="118", "Not=A?Brand";v="99"',
'Sec-Ch-Ua-Mobile': '?0',
'Sec-Ch-Ua-Platform': "macOS",
'Sec-Fetch-Dest': 'empty',
'Sec-Fetch-Mode': 'cors',
'Sec-Fetch-Site': 'same-site',
'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/118.0.0.0 Safari/537.36'
}

In [40]:
df = pd.DataFrame(columns=df_cols)
season_types = ['Regular%20Season', 'Playoffs']
years = ['2012-13','2013-14', '2014-15','2015-16', '2016-17', '2017-18', '2018-19', '2019-20', '2020-21', '2021-22', '2022-23', '2023-24']

begin_loop = time.time()

for y in years:
    for s in season_types:
        api_url = 'https://stats.nba.com/stats/leagueLeaders?LeagueID=00&PerMode=Totals&Scope=S&Season='+y+'&SeasonType='+s+'&StatCategory=PTS'
        r=requests.get(url=api_url, headers=headers).json()
        temp_df1 = pd.DataFrame(r['resultSet']['rowSet'], columns=table_headers)
        temp_df2 = pd.DataFrame({'Year':[y for i in range(len(temp_df1))],
                                'Season_type':[s for i in range(len(temp_df1))]})
        temp_df3 = pd.concat([temp_df1, temp_df2], axis=1)
        df = pd.concat([df, temp_df3], axis = 0)
        print(f'Finished scraping data for the {y}{s}.')
        lag = np.random.uniform(low=5,high=40)
        print(f'...waiting {round(lag,1)} seconds')
        time.sleep(lag)

print(f'Process completed! Total run time: {round(time.time()-begin_loop/60,2)}')
df.to_excel('nba_player_data.xlsx', index=False)

/var/folders/t4/q2cq3szd5klcrk2hj9zvwvwc0000gn/T/ipykernel_64072/2882060266.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, temp_df3], axis = 0)

Finished scraping data for the 2012-13Regular%20Season.
...waiting 7.0 seconds
Finished scraping data for the 2012-13Playoffs.
...waiting 17.7 seconds
Finished scraping data for the 2013-14Regular%20Season.
...waiting 32.6 seconds
Finished scraping data for the 2013-14Playoffs.
...waiting 21.2 seconds
Finished scraping data for the 2014-15Regular%20Season.
...waiting 28.3 seconds
Finished scraping data for the 2014-15Playoffs.
...waiting 7.4 seconds
Finished scraping data for the 2015-16Regular%20Season.
...waiting 7.3 seconds
Finished scraping data for the 2015-16Playoffs.
...waiting 13.2 seconds
Finished scraping data for the 2016-17Regular%20Season.
...waiting 27.1 seconds
Finished scraping data for the 2016-17Playoffs.
...waiting 35.3 seconds
Finished scraping data for the 2017-18Regular%20Season.
...waiting 21.5 seconds
Finished scraping data for the 2017-18Playoffs.
...waiting 16.1 seconds
Finished scraping data for the 2018-19Regular%20Season.
...waiting 23.8 seconds
Finished scraping data for the 2018-19Playoffs.
...waiting 18.8 seconds
Finished scraping data for the 2019-20Regular%20Season.
...waiting 34.2 seconds
Finished scraping data for the 2019-20Playoffs.
...waiting 35.5 seconds
Finished scraping data for the 2020-21Regular%20Season.
...waiting 23.4 seconds
Finished scraping data for the 2020-21Playoffs.
...waiting 37.2 seconds
Finished scraping data for the 2021-22Regular%20Season.
...waiting 8.0 seconds
Finished scraping data for the 2021-22Playoffs.
...waiting 24.1 seconds
Finished scraping data for the 2022-23Regular%20Season.
...waiting 15.0 seconds
Finished scraping data for the 2022-23Playoffs.
...waiting 9.9 seconds
Finished scraping data for the 2023-24Regular%20Season.
...waiting 32.5 seconds

/var/folders/t4/q2cq3szd5klcrk2hj9zvwvwc0000gn/T/ipykernel_64072/2882060266.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, temp_df3], axis = 0)

Finished scraping data for the 2023-24Playoffs.
...waiting 37.6 seconds
Process completed! Total run time: 1670668198.44

ModuleNotFoundError: No module named 'openpyxl'